@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
  width: 60vw;
  height: 100vh;
  /* border: 1px solid gray; */
  overflow-y: auto;
  margin: 0 auto;
  padding: 0 1em;
  /* font-family: "Source Sans Pro", sans-serif; */
  font-family: "Patrick Hand", vazir;
  background: url("./wood-background-1.jpg");
}
@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
}

.loginPage {
  justify-content: center !important;
}
.loginItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-btn {
  margin-bottom: 0.5em !important;
  background-color: #f5f5f5 !important;
  color: #555 !important;
  border: 1px solid #160805 !important;
}
.login-btn svg {
  margin: 0.5em;
}

.firstLoad {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  color: #dedede;
  font-size: larger;
}
.firstLoad span {
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
  font-size: larger;
}
.wellcome {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
.wellcome-fa h1 {
  direction: rtl;
  text-align: right;
}
.startApp {
  background-color: #7b4d35;
  padding: 0.5em;
  border-radius: 10px;
}
.startApp:hover {
  cursor: pointer;
}
.lang-firstpage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 4em;
  align-self: flex-end;
  position: fixed;
  top: 1em;
  color: #dedede;
}

.header {
  color: #555;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ffaa9f;
  padding-bottom: 0.5em;
}
.setting {
  position: relative;
}
.settingItems {
  position: inherit;
  border-right: 2px solid;
  padding-right: 0.5em;
  z-index: 2;
  top: 50px;
  right: 185px;
  font-size: medium;
  transition: 1s ease;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.lang-inside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.lang-inside-fa {
  flex-direction: row-reverse;
}
.lang-inside span {
  font-size: small;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* width: 4em; */
}
.login span {
  font-size: x-small;
}
.back {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* width: 4em; */
}
.exitApp {
  border-top: 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* width: 4em; */
}

.form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 2em;
}
.form-fa {
  flex-direction: row-reverse;
}
.form textarea {
  height: 25px;
  border: none;
  border-bottom: 1px dotted #1a1a1a;
  font-family: "Patrick Hand";
  font-size: medium;
  text-align: center;
  background-color: whitesmoke;
}
.form span {
  margin-right: 1em;
  font-size: medium;
  font-style: italic;
}
@media only screen and (max-width: 600px) {
  .form {
    flex-wrap: wrap;
  }
}

.addingSampleText {
  display: inline-block;
  margin-left: 10px;
  padding-left: 8px;
  border-left: 1px solid #ffaa9f;
}
.tasks {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: auto;
  height: 90vh;
  background-color: #f5f5f5;
  color: #555;
  font-size: 1.5em;
  padding: 10px !important;
  margin-top: 1em;
  border: 1px solid #dedede;
}
.taskItem:last-child {
  border-bottom: none;
}
.taskItem {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-bottom: 1px dotted #ccc;
  text-indent: 4px;
  height: auto;
  text-transform: capitalize;
  position: relative;
}
.taskRemove {
  display: none;
}
.deleting {
  display: block;
  position: absolute;
  right: 0;
}
.taskItem:hover .taskRemove {
  display: block;
  position: absolute;
  right: 0;
}
.noTodo {
  display: block;
  font-size: x-small;
  color: red;
}
.taskItem:hover {
  background-color: #f0f0f0;
}
button {
  margin: 0.5em;
  padding: 0;
}
.loading {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.circle-border {
  width: 100px;
  height: 100px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, rgb(0 0 0 /0%) 33%, rgb(169 80 7) 100%);
  animation: spin 2s linear infinite;
}
.circle-core {
  width: 100%;
  height: 100%;
  background-color: #160805;
  border-radius: 50%;
}
.loading p {
  position: absolute;
  color: rgb(169 80 7);
  font-size: large;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.taskEdit {
  padding-right: 5px;
  margin-right: 1px;
  border-right: 1px solid #ffaa9f;
}
.listItemText {
  margin-left: 1px;
  padding-left: 2px;
  border-left: 1px solid #ffaa9f;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.done {
  text-decoration: line-through;
  opacity: 0.6;
}
.exitPage {
  color: #dedede;
  font-size: xx-large;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.lastpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.lastpage .thanks {
  align-self: flex-start;
}
.lastpage a {
  align-self: flex-end;
  font-size: small;
  background-color: #42230e;
  border-radius: 10%;
  padding: 0.5em;
  color: wheat;
  text-decoration: none;
  margin-bottom: 0.5em;
}
.lastpage .backToApp {
  align-self: self-end;
  font-size: medium;
  background-color: #42230e;
  border-radius: 10%;
  padding: 0.5em;
  color: wheat;
  margin-bottom: 0.5em;
}
.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
